body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, input {
	font-family: 'Open Sans',"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 100 !important;
    color:#657483;

}

body {
    line-height: 1.43;
}

h3, .h3 {
    font-size= 11;
}

.ui-btn {
    color: #657483;
    font-family: 'Open Sans',"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif !important;
    font-weight: 100 !important;
}

.list-value {
    float:right;
}

.list-description {
    white-space:normal;
}


.topmsg {
    display:none;
    height: auto; 
    /*background-color: #f3dddd;*/
    background: rgb(0,0,0);
    background: rgba(0,0,0, 0.7);
    text-decoration:none;
    border:1px solid;
    border-color:#404040;
    box-shadow: 0px 3px 2px #888888;
    color: #ffffff;
    text-shadow: 2px 2px #000000;
    text-align: center;
    padding:  5px 0 5px 0;
    width: 100%;
    position: absolute;
    z-index: 10;
}

#iframeclass {
    width:100%; 
    height: 100%;
}



#postBlockA {
	height:auto; padding-top: 10px; padding-bottom: 10px;
	font-size:18px; white-space: normal;
}

#postBlockB {
	height:auto; padding-top: 30px; padding-bottom: 30px;
	font-size:14px; white-space: normal;
}

#statusChecker {
    text-align: center;
}

#confirmResCode {
	text-align: center;
	font-size: 3em;
	color: #0B4C5F;
}

#logo {
   width: auto;
   height : auto;
   max-height: 100%;
   max-width: 100%;
   display: block;
   margin-left: auto;
   margin-right: auto;
}

/*hack to widen the header title*/
.ui-header .ui-title {

}

/*fix the bug of flickering page transitions*/
.ui-page {
    -webkit-backface-visibility: hidden;
}

/* Hack for the panel start */
.ui-panel.ui-panel-open {
    position:fixed;
}
.ui-panel-inner {
    position: absolute;
    top: 1px;
    left: 0;
    right: 0;
    bottom: 0px;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}
/* Hack for the panel end */

/* Testing on the iscroll */



/* iSCROLL */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    -ms-touch-action: none;
}
body,ul,li {
    padding: 0;
    margin: 0;
    border: 0;
}


#wrapper {
    position: absolute;
    z-index: 1;
    top: 45px;
    bottom: 48px;
    left:9999px; /* Not a must - can be 0 - but it makes the appearance of the content a bit nicer */
    width: 100%;
    background: #ccc;
    overflow: hidden;
}

#scroller {
    position: absolute;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    width: 100%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
}

#scroller ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: left;
}

#scroller li {
    padding: 0 10px;
    height: 80px;
    line-height: 80px;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #fff;
    background-color: #fafafa;
    font-size: 14px;
}

.pullDownLabel, .pullUpLabel {color:#999}
.pullDown, .pullUp {background:#fff;height:40px;line-height:40px;font-weight:bold;font-size:0.8em;color:#888}
.pullDown .pullDownIcon, .pullUp .pullUpIcon {display:block;float:left;opacity:0.4;width:40px;height:40px;background:url(../images/pull_to_refresh.png) 0 0 no-repeat;-webkit-background-size:40px 80px;-ms-background-size:40px 80px; background-size:40px 80px;-webkit-transition-property:-webkit-transform;-ms-transition-property:-webkit-transform;-webkit-transition-duration:250ms;-ms-transition-duration:250ms}
.pullDown .pullDownIcon {-webkit-transform:rotate(0deg) translateZ(0);-ms-transform:rotate(0deg) translateZ(0)}
.pullUp .pullUpIcon  {-webkit-transform:rotate(-180deg) translateZ(0);-ms-transform:rotate(-180deg) translateZ(0)}
.pullDown.flip .pullDownIcon {-webkit-transform:rotate(-180deg) translateZ(0);-ms-transform:rotate(-180deg) translateZ(0)}
.pullUp.flip .pullUpIcon {-webkit-transform:rotate(0deg) translateZ(0);-ms-transform:rotate(0deg) translateZ(0)}
.pullDown.loading .pullDownIcon, .pullUp.loading .pullUpIcon {background-position:0 100%;-webkit-transform:rotate(0deg) translateZ(0);-ms-transform:rotate(0deg) translateZ(0);-webkit-transition-duration:0ms;-ms-transition-duration:0ms;-webkit-animation-name:loading;-ms-animation-name:loading;-webkit-animation-duration:1s;-ms-animation-duration:1s;-webkit-animation-iteration-count:infinite;-ms-animation-iteration-count:infinite;-webkit-animation-timing-function:linear;-ms-animation-timing-function:linear}

@-webkit-keyframes loading {
    from {-webkit-transform:rotate(0deg) translateZ(0)}
    to {-webkit-transform:rotate(360deg) translateZ(0)}
}
@-ms-keyframes loading {
    from {-ms-transform:rotate(0deg) translateZ(0)}
    to {-ms-transform:rotate(360deg) translateZ(0)}
}